fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings

litellm

langgraph

langchain-core

faiss-cpu

sentence-transformers

python-multipart

pypdf

sqlalchemy

httpx

python-jose

passlib[bcrypt]